        body{
            background-color:darkgray;
        }
        
        nav{
            background-color: aqua;
            border: 3px solid black;
        }

        a{
            padding: 30px 30px;
        }